.moyenne-card {
    width: 276.2px;
    height:30vh;
    margin: 10px;
    background-color: rgb(245, 244, 244);
    position: absolute;
    top:81vh;
    left: 80.5vw;
    border:solid 1px black;
}

h1{
    font-size: 80px;
    position: relative;
    top: 10vh ;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h2{
    font-size: 30px;
    text-align:center;
    position: relative;
    top: 15vh ;
    font-family: Helvetica, sans-serif;
}
