.productions-card {
    max-width: 900px;
    margin: 10px;
    background-color: rgb(245, 244, 244);
    border:solid 1px black;
    position:absolute;
    top: 46vh;
    left:28.3vw;
    width: 50vw;
    height: 93.4vh;
}
.titre {
    width: 225px;
    margin-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}