// .example-card {
//     max-width: 670px;
//     margin: 10px;
//     background-color: rgb(245, 244, 244);
//     border:solid 1px black;
//     position:absolute;
//     bottom: 51.3vh;
//     left:55.7vw;
//     height: auto;
  
//   }

canvas{
    max-width: 690px;
    margin: 10px;
    background-color: rgb(245, 244, 244);
    border:solid 1px black;
    position:absolute;
    bottom: 49vh;
    left:55.7vw;
    height: auto;
}
 