#chart {
    padding: 0;
    max-width: 450px;
    margin: 35px auto;
  }
  .repartition-card {
    width: 276.2px;
    margin: 10px;
    background-color: rgb(245, 244, 244);
    position: absolute;
    bottom: 14.5vh;
    left: 80.5vw;
    height: 30vh;
    border:solid 1px black;
  }

  .titre{
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color:#54b1f9;
  }