
  <mat-card class="repartition-card">
    <mat-card-header class="titre">
      Répartion Homme Femme
    </mat-card-header>
     <mat-card-content>
      
        <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [plotOptions]="chartOptions.plotOptions"
              [labels]="chartOptions.labels"
              [fill]="chartOptions.fill"
            ></apx-chart>
          </div>

    </mat-card-content>

  </mat-card>